# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual Environment
venv/
ENV/
env/

# Environment variables
.env
.env.local
.env.*.local

# Database
instance/
*.db

# Logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
